@charset "UTF-8";
@import url("css/src/bootstrap/bootstrap.min.css");
@import url("css/src/splide/splide.min.css");
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

/* MENU */
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: auto;
  background-color: rgb(255, 255, 255);
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(156, 18, 0);
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0;
  height: 100%;
  color: white;
}

.logo-container {
  flex: 3;
  margin-left: 1em;
}

.logo {
  font-family: "Sen", sans-serif;
}

.menu-container {
  flex: 9;
}

.menu-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.errors {
  color: red;
}

.success {
  color: green;
}

.menu-list-item a {
  text-decoration: none;
  margin: 20px;
  float: right;
  align-self: center;
  color: #ffffff;
}

/* LOGIN PAGE  */

.form {
  position: relative;
  padding: 55px;
  background-color: #f7f7f700;
  box-shadow: 0px 0px 8px 5px rgba(26, 1, 248, 0.4);
  /* animation: rotate 3.5s linear infinite; */
}

.form::before {
  animation: rotate 3.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.login-title {
  text-align: center;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

.sign-link {
  text-align: center;
}

input[class="sign"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
button[type="submit"] {
  width: 100%;
  background-color: #2511dd;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4936f0;
  color: white;
}

/* SIGNUP PAGE  */

.sign-up-container {
  position: relative;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);
  width: 140%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.signup-title h2 {
  text-align: center;
  padding-left: 25px;
}

.signup_page {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

.sign-up-container ul li {
  list-style: none;
}

input[class="signup-form-btn"] {
  width: 85%;
  background-color: #5e43f3;
  color: white;
}

input[class="signup-form-items"],
select {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.cancel-sign-up-btn {
  transition-duration: 0.4s;
  text-align: center;
  color: black;
  text-decoration: none;
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #da260f;
}

.cancel-sign-up-btn:hover {
  background-color: #f44336;
  color: white;
}

/* PROFILE  */

.profile-buttons ul li {
  list-style: none;
}

.profile-buttons .edit {
  transition-duration: 0.4s;
  text-align: center;
  color: black;
  text-decoration: none;
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #2511dd;
}

.profile-buttons .edit:hover {
  background-color: #2511dd;
  color: white;
}

.profile-buttons .create {
  transition-duration: 0.4s;
  text-align: center;
  color: black;
  text-decoration: none;
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #2511dd;
}

.profile-buttons .create:hover {
  background-color: #2511dd;
  color: white;
}

.profile-buttons .change {
  transition-duration: 0.4s;
  text-align: center;
  color: black;
  text-decoration: none;
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #2511dd;
}

.profile-buttons .change:hover {
  background-color: #2511dd;
  color: white;
}

.profile-buttons .logout {
  transition-duration: 0.4s;
  text-align: center;
  color: black;
  text-decoration: none;
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #da260f;
}

.profile-buttons .logout:hover {
  background-color: #f44336;
  color: white;
}

.prf-body {
  position: relative;
}

.profile-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* List tricount */
#listTricount {
  padding: 56px 0;
  margin-bottom: env(safe-area-inset-bottom);
  margin-top: env(safe-area-inset-top);
}

#listTricount.extra-header-active {
  padding-top: 106px;
}

#listTricount.full-height {
  min-height: 100vh;
}

.section {
  padding: 0 16px;
}

.section.full {
  padding: 0;
}


/* HEADER */
.appHeader {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  z-index: 999;
  background: #FFFFFF;
  color: #27173E;
  border-bottom: 1px solid #DCDCE9;
}

.appHeader:before {
  content: '';
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  background: #FFF;
}


.appHeader.no-border {
  border: 0;
  box-shadow: none;
}

.appHeader.transparent {
  background: transparent;
}

.appHeader.transparent:before {
  background: #EDEDF5;
}

.appHeader .left,
.appHeader .right {
  height: 56px;
  display: flex;
  align-items: center;
  position: absolute;
}

.appHeader .left .icon,
.appHeader .left ion-icon,
.appHeader .right .icon,
.appHeader .right ion-icon {
  font-size: 26px;
}

.appHeader .left .headerButton,
.appHeader .right .headerButton {
  min-width: 36px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #2c2937;
  position: relative;
}

.appHeader .left .headerButton .btn,
.appHeader .right .headerButton .btn {
  font-size: 16px;
  height: 32px;
  padding: 0px 14px;
}

.appHeader .left .headerButton:active,
.appHeader .right .headerButton:active {
  opacity: .6;
}

.appHeader .left {
  left: 10px;
  top: 0;
}

.appHeader .right {
  right: 10px;
  top: 0;
}

.appHeader .pageTitle {
  font-size: 17px;
  font-weight: 500;
  padding: 0 10px;
}

.appHeader .pageTitle .logo {
  max-height: 24px;
}

.appHeader.text-light {
  color: #FFF;
}

.appHeader.text-light .headerButton {
  color: #FFF;
}

.appHeader.bg-primary, .appHeader.bg-secondary, .appHeader.bg-success, .appHeader.bg-warning, .appHeader.bg-danger, .appHeader.bg-info, .appHeader.bg-light, .appHeader.bg-dark {
  border: 0;
}

.appHeader.bg-primary:before {
  background: #6236FF !important;
}

.appHeader.bg-secondary:before {
  background: #8494A8 !important;
}

.appHeader.bg-success:before {
  background: #1DCC70 !important;
}

.appHeader.bg-warning:before {
  background: #FFB400 !important;
}

.appHeader.bg-danger:before {
  background: #FF396F !important;
}

.appHeader.bg-info:before {
  background: #05D0A4 !important;
}

.appHeader.bg-dark:before {
  background: #222 !important;
}
.extraHeader {
  position: fixed;
  left: 0;
  top: 50px;
  height: 50px;
  right: 0;
  width: 100%;
  padding: 5px 16px;
  display: flex;
  margin-top: env(safe-area-inset-top);
  align-items: center;
  background: #FFF;
  z-index: 1000;
  border-bottom: 1px solid #DCDCE9;
}

.testPreview .appHeader {
  position: relative;
  top: 0;
  z-index: 0;
}

/* Tricount cart */
#loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: #6c2bee;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#loader .loading-icon {
  width: 42px;
  height: auto;
  animation: loadingAnimation 0.5s ease-in-out infinite;
}

#loader.hidden {
  display: none;
}
@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.card {
  margin-top: 5em;
  background: #ffffff;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.card .card-body {
  padding: 16px;
}


.card-block {
  height: 220px;
  background: #6c2bee;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  color: #fff;
  position: relative;
}

.card-block .card-main {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%);
  position: absolute;
  border-radius: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  padding: 20px 24px;
}

.card-block .card-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-block .card-button > .btn {
  background: transparent !important;
  color: #fff !important;
}

.card-block span.label {
  font-size: 11px;
  letter-spacing: 1px;
  opacity: 0.5;
  line-height: 1em;
  margin-bottom: 5px;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
}

.card-block .in .card-number {
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 500;
}

.card-block .in .card-expiry {
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}

.card-block .in .card-ccv {
  font-weight: 500;
  font-size: 14px;
}

.card-block .bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.card-block .balance {
  position: absolute;
  left: 24px;
  top: 24px;
}

.card-block .balance .title {
  font-weight: 700;
  color: #fff;
  margin-top: 7px;
  font-size: 24px;
}

.dropdown .dropdown-menu,
.dropup .dropdown-menu {
  border: 1px solid #DCDCE9;
  min-width: 120px;
  padding: 8px 0;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.dropdown .dropdown-menu .dropdown-item,
.dropup .dropdown-menu .dropdown-item {
  padding: 9px 16px;
  line-height: 1.2em;
  color: #27173E;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active,
.dropup .dropdown-menu .dropdown-item:hover,
.dropup .dropdown-menu .dropdown-item:active {
  background: rgba(220, 220, 233, 0.5);
  color: #27173E;
}

.dropdown .dropdown-menu .dropdown-item .dropdown-divider,
.dropup .dropdown-menu .dropdown-item .dropdown-divider {
  border-top: 1px solid #DCDCE9;
}

.dropdown .dropdown-menu .dropdown-header,
.dropup .dropdown-menu .dropdown-header {
  padding: 9px 16px;
  color: #958d9e;
  font-weight: 400;
  font-size: 11px;
}

.dropdown .dropdown-menu .text,
.dropup .dropdown-menu .text {
  padding: 9px 16px;
  color: #958d9e;
}
.dropdown .dropdown-menu .icon,
.dropdown .dropdown-menu ion-icon,
.dropup .dropdown-menu .icon,
.dropup .dropdown-menu ion-icon {
  font-size: 17px;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  display: inline-flex;
  color: #27173E;
}

.appHeader .dropdown-menu {
  margin-top: -12px !important;
}

.dropdown-toggle:after {
  border-radius: 4px;
  margin-left: 7px;
}


.btn {
  height: 36px;
  padding: 3px 18px;
  font-size: 13px;
  line-height: 1.2em;
  font-weight: 500;
  box-shadow: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
  text-decoration: none !important;
  border-radius: 10px;
  border-width: 2px;
}
.btn i.icon,
.btn ion-icon {
  font-size: 22px;
  margin-right: 7px;
  margin-top: -2px;
}





/* .......> */

/* media queries */
/* Mobile*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    width: 100%;
    height: 100%;
    background-color: rgb(241, 100, 18);
  }

  .navbar h1 {
    text-align: left;
    font-size: medium;
  }

  .form {
    top: -150px;
    left: -120px;
    width: 90%;
  }

  .sign-up-container {
    top: -150px;
    left: -90px;
    width: 120%;
  }

  .prf-body {
    position: relative;
  }

  .profile-buttons {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

}

/* tablet and large mobiles */
@media screen and (min-width: 575px) and (max-width: 767.98px) {
}
