<div class="navbar">
    <div class="navbar-container">
      <div class="logo-container">
        <h1 class="logo">
          <i class="fa fa-credit-card" aria-hidden="true" onclick='window.location.reload(true);'></i> Tricount
        </h1>
      </div>
      <div class="menu-container">
        <ul class="menu-list" id="menu-list">
          <li class="menu-list-item"><a href="user/profile">Home</a></li>
          <li class="menu-list-item"><a class="logout-icon" href="user/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <script>
    // afficher bouton Back si js activé
    document.addEventListener('DOMContentLoaded', function() {
      var menuList = document.getElementById('menu-list');
      var backButton = document.createElement('button');
      backButton.innerText = 'Back';
      backButton.classList.add('goBackButton');
      backButton.addEventListener('click', function() {
        window.history.back();
      });
      menuList.appendChild(backButton);
    });
  </script>
  